    /***** ALL PAGES ******/

    body {
        background-image: url(../images/background.jpg);
        font-family: 'Dosis', sans-serif !important;
    }

    .navbar {
        z-index: 3;
    }
    /****Login Page****/

    .login {
        opacity: .9;
        background-image: url(../images/background.jpg) !important;
        background-repeat: no-repeat;
        position: absolute;
        top: 25%;
        left: 0;
        z-index: 2;
    }

    #overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 50px;
        color: white;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }
    /****New User*****/

    #newUserPage {
        background-color: #ddcece;
    }

    #center {
        float: none;
        margin: 0 auto;
    }

    #newUserForm {
        opacity: .75;
    }
    /*****Main Page*****/

    #mainPage {}

    .yourStuff {
        float: none;
        margin: 0 auto;
        opacity: .85;
        color: #ffffff;
    }

    .yourCard {
        background-image: url(../images/cardBackground.jpg) !important;
    }

    .group {
        border: solid 2px #799dd3;
        background-color: #21263b;
        border-radius: 25px !important;
    }